.element {
   height: 40px;
}


.name{font-weight: 700;}
.delete {
    min-width: 50px;
    border: 2px solid var(--light-accent-color);
    border-radius: 3px;
    background-color: var(--secondary-background-color);
    /* opacity: 0.8; */
    color: var(--primary-text-color);
    margin:5px;
    padding:5px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    transition: transform 200ms linear;
}

.delete:active {
    box-shadow: 0 2px #666;
}

.delete:hover,
.delete:focus {
   transform: scale(1.1);
    margin:2px
}

