.filter {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 20px;
  
}

.input{
  margin-top: 10px;
  border: 2px solid var(--light-accent-color);
background-color: var(--secondary-background-color);}

.input:active,
.input:focus {
  outline: none;
  border: 3px solid var(--light-accent-color);
  background-color: var(--primary-background-color)
}