body {
  margin: 0;
  font-family: 'Inter',
  sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-text-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-right: auto;
  margin-left: auto;
    --primary-background-color: #FCF3EC;
    --primary-text-color: #304160;
--secondary-text-color:#376dd7;
    --light-accent-color:#c3b394;
    --dark-accent-color:#a99775;
    --secondary-background-color: #fdf8f5;
   color: var(--primary-text-color)
}
